@font-face {
    font-family: "Helvetica Neue";
    src: url('../../assets/fonts/helvetica-neue-bold.ttf');
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url('../../assets/fonts/helvetica-neue-light.otf');
}

@font-face {
    font-family: "Yu Gothic Semilight";
    src: url('/assets/fonts/Yu\ Gothic\ UI\ -\ Semilight.ttf');
}

@font-face {
    font-family: "Yu Gothic Light";
    src: url('/assets/fonts/yugothil.ttf');
}
