$base-gray-color: #8e929e;
$gray-color-box: #8E919E;
$base-orange-color: #fe881c;
$orange-line: #FF881D;
$base-dark-blue: #13223D;
$light-gray: #8E919E;
$extralight-gray: #F0F0F0;
$white: #fff;
$black: #000;
