@import '../utilities/mixin';
@import '../utilities/variables';
@import '../utilities/mixin';
@include reset-css;


html {
    font-size: 62.5%;
    max-width: 1400px;
    margin: auto !important;
}

body {
    max-width: 1400px;
    margin: auto !important;
    color: $base-dark-blue;
}

@media (min-width: 1200px) {
    .visible-lg-block {
      display: block !important;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding-left: 57px;
    padding-right: 65px;

    .header__navigation {
        ul {
            display: flex;
            list-style: none;
            gap: 32.5px;
            text-transform: uppercase;

            li {
                font-family: 'Helvetica Neue Light';
            }
        }
    }
}

.name{
    margin-bottom: 80.8px;
    font-family: "Helvetica Neue";
    color: #13223D;
    display: flex;
    #name{
        font-size: 63px;
        font-weight: 600;
        margin-left: 119.1px;
        margin-top: 141.7px;
    }
    div{
        font-size: 24px;
        margin-top: 182.6px;
        margin-left: 91.6px;
        letter-spacing: 20px;
    }
}

.orangeline{
    height: 30.32px;
    width: 701.86px;
    top: 234.4px;
    background-color: $base-orange-color;
    position:relative;
    left: 0px;
    z-index: -1;
}

#name2{
    margin-bottom: 35.5px; 
    margin-left: 123.2px; 
    font-size: 24px; 
    color: $base-dark-blue;
}

section{
    color: $base-dark-blue;
    font-family: "Yu Gothic Light";
    font-weight: 600;
    hr{
        width: 800px;
        margin-bottom: 46.1px;
    }
    img{
        width:1276.77px ;
        height: 430.94px;
        float: right;    
        filter: $light-gray;
        -webkit-filter: grayscale(1); 
        filter: grayscale(1);
    }
    h2{
        font-size: 41px;
        font-weight: bold;
        font-family: "Helvetica Neue";
    }
    p  {
        font-size: 24px;
        width: 600px ;
        letter-spacing: 2.5px;
        line-height: 40px;
    }
    h3  {
        font-size: 24px;
        margin-bottom: 29.6px;
        font-weight: 600;
    }
    span{
        font-size: 24px;
        letter-spacing: 7px;
        margin-left: 10px;
    }
    .grayline{
        height: 426.56px;
        width: 1017.36px;
        top: 90.4px;
        background-color: $light-gray;
        opacity: 30%;
        position:relative;
        left: 0px;
        z-index: -1;
    }
    .container{
        margin-top: 220.5px;
    }
    .col{        
        margin-bottom: 156px;
    }
    .right{
        width: 200px ;
        margin-left: 80.2px;
    }
    .left{
        margin-right: 40px;
    }
}

footer {
    color: $base-dark-blue;
    border-top: 1px solid #13223D;
    border-bottom: 1px solid #13223D;
    font-size: 17px ;
    width: 1300.64px;
    margin-left: 89px;

    li{
       padding-left :0px;
    }
}

.end{
    margin-left: 85px;
    margin-top: 47.6px;
    margin-bottom: 49.4px;
    p{
        margin-left: 66px;
        font-size: 16px;
    }
    a{
        margin-left: 66px;
        font-size: 63px; 
        line-height: 40px; 
        font-weight: 600; 
        border-bottom: 1px solid #13223D;
    }
}