@import './mixin';
@include reset-css;



.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding-left: 57px;
    padding-right: 65px;

    .header__navigation {
        ul {
            display: flex;
            list-style: none;
            gap: 10px;
            text-transform: uppercase;
        }
    }
}